.product_cont{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-left: 150px;
}
.product_card{
width: 260px;
height: 310px;
margin: 0px 20px;
border: 1px solid #D9D9D9;
transition: all 0.5s;
}
.product_card:hover{
  box-shadow: 0px 0px 20px #5F63B0;
  scale: 1.01;
  transform: translateY(-10px);
 
 

}
.card_cont{
        margin-left: 69px;
                width: 1300px;
                height: 720px;
                display: flex;
                padding:0px 10px ;
                flex-wrap: wrap;
               
                justify-content: start;

}
.card_details>p{
    margin: 0;
    margin-left: 30px;
}
.toggle_btn{
    background-color: white;
   color:grey; 
    border: 1px solid grey;
}
.btn-check+.btn:hover {
   
    background-color: white;
    color:grey; 
     border: 1px solid grey;
}

.btn-check:checked+.btn{
    border: 1px solid grey;
    background-color: #D9D9D9;
}
.right_triangle {
    position: absolute;
    rotate: 90deg;
    left: 1720px;
    top: 505px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 20px solid #D9D9D9;
    transition: border-bottom 0.5s;
  }
  .left_triangle {
    position: absolute;
    rotate: -90deg;
    left: 490px;
    top: 505px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 20px solid #D9D9D9;
    transition: border-bottom 0.5s;

  }
  .left_triangle:hover{
    border-bottom: 20px solid #5F63B0;
    
  }
  .right_triangle:hover{
    border-bottom: 20px solid #5F63B0;
    
  }
 .pag_cont{
    width: 600px;
    height: 90px;
    position: absolute;
 
    left: 830px;
    top:870px;
    display: flex;
    justify-content: center;
    
 }
 .active>.page-link{
    background-color: #D9D9D9;
    border-color: #D9D9D9;
 }
 .page-link{
    color: grey;
 }
 /* .page-link:hover {
    color: #5F63B0;

 }
  */
  .page-link:focus {
    z-index: 0;
    r: #5F63B0;
    background-color:white;
    outline: none;
    box-shadow: none;
}
.filter{
  margin-top: 10px;
  height: 40px;
  border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;

}
.filter> select{
  border-color: grey;
  color: black;
  font-weight: 300;
  padding: 5px;
  border-radius: 10px;
}
 .filter> select:focus{
  outline: none !important;


}
.descp{
  width: 1000px;
  position: relative;
  display: flex;
  flex-direction: row;
  top: 100px;
  left: 400px;

}
.phone_table,.shoe_table{
  margin-top: 40px;
 
}
.phone_table  td,.shoe_table td{
  animation: textfadein 1.2s ease-in-out;
  text-align: center;
  width: 200px;
  padding: 15px;
  border: 1px solid grey;
}
.phone_table  img{
  height: 30px;
  width: 30px;
}
.backbtn{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 1080px;
  top: -65px;
  transform: rotateX(180deg);
  transition: scale 0.5s, filter 0.5s;

}
.backbtn:hover{
  scale: 1.2;
  filter: invert(41%) sepia(70%) saturate(374%) hue-rotate(197deg) brightness(87%) contrast(94%);


}
.descp p,h2{
  animation:  textfadein 1s;
}
@keyframes textfadein {
  0%{
    transform: translateX(15px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 100;
  }
  
}
.add_btn{
  width: 40px;
  height: 40px;

  transition: scale 0.5s;
}
.add_btn:hover{
  scale: 1.2;
}
.signin{
  position: absolute;
  left :1720px;
}
.sign_cont{
  width: 100vw;
  height: 900px;
display: flex;
align-items: center;
justify-content: center;
 
}
.form{
  width: 500px;
  height: 400px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  overflow: hidden; /* Ensures that curved edges are visible */
  
}
.tabs{
  border-radius: 30px 30px 0 0;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.tabs table{
  height: 60px;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  
}
.tabs td{
  border-radius: 30px;
  width: 200px;
  padding: 10px;
  
}
.tabs {
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%; /* Adjust as needed */
}


.inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  align-items: center;
  justify-content: center;
  height: 100%;

}
.inputs input{
  height: 40px;
}

@keyframes opendiv {
  0%{
    height: 400px; 
  }
  100%{
    height: 500px; 
  }
}
@keyframes closediv {
  0%{
    height: 500px;  
  }
  100%{
    height: 400px; 
  }
}
@keyframes opaci {
  0%{
   opacity: 0;
  }
  100%{
   opacity: 1;
  }
}
.open{
  animation: opendiv 0.5s forwards;
}
.close{
  animation: closediv 0.5s forwards; 
}
.opa{
  /* color: #5F63B0; */
  animation: opaci 1s forwards;
  
}